.bt
{
	margin-top:10px;
}
html { 
  background: url("/img/car1.jpg")  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
}